<template>
  <div class="container-lg">
    <div class="">
      <div class="col bg-light text-black container-lg fixed ">        
        <img src="/img/logo.png" alt="BBC Logo" width="280px" />
        <div class="container-fluid col">
     
         <div class="col ">
       <h3 class="text-success bg-light"> {{typeOfSo}} </h3> 
       
        </div>
       </div>
        
       </div>

       <div class="container-fluid row fixed">
         
         
         <div class="d-flex justify-content-end  col ">
          
        <Menu /> 
      
      
          </div>
           </div> 
      </div>
  <div class="container-xl">
    

          
      
      <div class="row">
        
        
           <div class="">
             
           <Ac1 />
      </div>
       <div class="">
        
      <Ac2 />
      </div>
      <div class="">
           <Ac3 />
      </div>
     </div>
    </div>
  </div>
</template>
<script>
import Menu from "./Menu";
import Ac1 from "./Ac1";
import Ac2 from "./Ac2";
import Ac3 from "./Ac3";

export default {
  components: { Menu, Ac1,Ac2,Ac3 },
  data: function() {
    return{
        typeOfSo: "Actives"
    }}
};
</script>
<style>
.fixed {
  position: fixed;
  top:0;
  width: 100%;
}

</style> 