<template>
  <div class="container-lg">
    <div class="">
      <div class="col bg-light text-black container-lg fixed ">        
        <img src="/img/logo.png" alt="BBC Logo" width="280px" />
        <div class="container-fluid col">
     
         <div class="col ">
       <h3 class="text-secondary bg-light"> {{typeOfSo}} </h3> 
       
        </div>
       </div>
        
       </div>

       <div class="container-fluid row fixed">
         
         
         <div class="d-flex justify-content-end  col ">
          
        <Menu /> 
      
      
          </div>
           </div> 
      </div>
  <div class="container-xl">
    

          
      
      <div class="row">
        
        
           <div class="">
             
           <Ar1 />
      </div>
       <div class="">
        
      <Ar2 />
      </div>
      <div class="">
           <Ar3 />
      </div>
     </div>
    </div>
  </div>
</template>
<script>
import Menu from "./Menu";
import Ar1 from "./Ar1";
import Ar2 from "./Ar2";
import Ar3 from "./Ar3";

export default {
  components: { Menu, Ar1,Ar2,Ar3 },
  data: function() {
    return{
        typeOfSo: "Archived"
    }},
provide: function() {
 return {
 typeOfSo:"archived"
 }
 }







};
</script>
<style>
.fixed {
  position: fixed;
  top:0;
  width: 100%;
}

</style> 