<template>
     <div id="faq" class="faq-body d-flex justify-content-start ">
      <div class="faq-header ">
        <h3 class="faq-title "> <img  class="" 
        src="/img/contacts.png" alt="info" width="35px" />  Contacts</h3>
        <div class="seperator"></div>
        <div class="faq-list">
          <div v-for="p in actives" v-bind:key="p.id" >
            <details>
            
              <summary title="Contact Information for SO">
                  Contacts for SO : {{ p.id }}</summary>

                  
              <div v-for="c in contacts" v-bind:key="c.id">
              <template v-if="p.id==c.id" >
              
              <p class="faq-content">Sales : {{c.sales}}</p>
              <p class="faq-content">Operative : {{c.operative}}</p>
              <p class="faq-content">Customs : {{c.customs}}</p>
              <p class="faq-content">Customer : {{c.client}}</p>
              <p class="faq-content">
                <a href="https://wa.me/?text=Hello!%20I%27m%20inquiring%20about%20SO%20%20SO4834" > 
                 <img
                        class="contact-icon"
                        src="https://bbcfreight.com/app/public/icons/ws.png"
                        title=""/>
                        </a>
                   {{c.sales}}</p>
              </template> 
              </div>
            </details>
            </div>
          
        </div>
      </div>
    </div>
</template>
<script>
import { mapState } from "vuex";
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapState(["contacts"]),
     ...mapGetters({ actives: "processedActives" }),}
  
  
}
</script>
<style scoped>
:focus {
    outline: none;
}

body {
    background-color: #3f33e6;
    font-family: sans-serif;
}

div + div {
    clear: both;
}

p {
    line-height: 1.4em;
    color: #9e9e9e;
}

.faq-title {
    font-size: 2em;
    margin: 0.5em 0;
    color: rgb(67, 207, 67);
    margin-top: 40px;
    
}

div.seperator {
    width: 18em;
    background-color: #2ce62c;
    height: 0.07em;
    margin-left: -1.8em;
}

.faq-list > div {
    border-bottom: 0.07em solid #838080;
    padding: 2em 0em;
} 

.faq-list > div:last-child {
    border: initial;
}

summary {
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

summary:hover {
    color: hsl(115, 79%, 50%);
    transition: all 0.3s ease;
}

details[open] summary ~ * {
  animation: sweep 1.0s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 10px}
}

details[open] summary {
  color: #64e31b;
}

details[open] p {
    border-left: 2px solid #64e31b;
    margin-top: 18px;
    margin-left: 20px;
    padding-left: 15px;
    opacity: 100;
    transition: all 3s ease;
    font-size: 1.1em;
    
}

details[open] summary:after {
    content: "-";
    font-size: 3.2em;
    margin: -0.1em 0.14em 0 0;
    font-weight: 200;
}

.faq-body {
    width: 25em;
    margin: 0em auto;
    box-shadow: 0px 0px 0px #5b5b5b;
    border-radius: 0.2em;
    padding: 5em;
    background-color: #fff;
}

.faq-list {
    width: 15em;
    margin: 1em auto;
    padding: 2em 0;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    background: transparent;
    border-radius: 0.3em;
    content: "+";
    color: #89bbbb;
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    margin: -0.3em 0.25em 0 0;
    padding: 0;
    text-align: center;
    width: 25px;
}
</style>