<template>
  <div style="margin-top: 120px">
    
     <a  href="/News"><img src="/img/goback.png" alt="GoBack"></a>
    <!----DETAILS SECTION---------->
    <div>
      <h2>SO Details</h2>
    </div>
    <div
      style="margin-top: 20px"
      v-for="p in selected.So"
      v-bind:key="p.id"
      class="container-sm"
    >
      <div class="thegrid border1 m-2 text-center">
        
        <div class="head border1">SO Number:</div>
        <div class="cell border1">SO{{ p.id }}</div>
        <div class="head border1">Customer Reference:</div>
        <div class="cell border1">{{ p.reference }}</div>
         <div class="head border1">Service Type:</div>
        <div class="cell border1">{{ p.serviceType }}</div>
        <div class="head border1">Shipper:</div>
        <div class="cell border1">{{ p.shipper }}</div>
     
        <div class="head border1">BBC Services:</div>
        <div class="cell border1">{{ p.bbcServices }}</div>
        <div class="head border1">Consignee:</div>
        <div class="cell border1">{{ p.consignee }}</div>
        <div class="head border1">BL:</div>
        <div class="cell border1">{{ p.bl }}</div>

        <div class="head border1">Destination:</div>
        <div class="cell border1">{{ p.destination }}</div>
        <div class="head border1">Container:</div>
        <div class="cell border1">{{p.container}}</div>
        <div class="head border1">P/A/F Destination:</div>
        <div class="cell border1">{{p.pafDestination }}</div>

        <div class="head border1">ETD:</div>
        <div class="cell border1">{{ p.etd }}</div>
        <div class="head border1">Origin:</div>
        <div class="cell border1">{{ p.origin}}</div>
        <div class="head border1">ETA:</div>
        <div class="cell border1">{{ p.eta }}</div>
        <div class="head border1">P/A/F Origin:</div>
        <div class="cell border1">{{ p.pafOrigin }}</div>


      </div>
      <!----IMAGES SECTION---------->
      <div class="margin-top text-center">
        <template class="container-lg" v-for="i in statusIcons">
          <img
            v-bind:key="i.index"
            v-if="p.status == i"
            v-bind:src="`/img/${p.status}.jpeg`"
            v-bind:alt="p.status"
            width="9%"
            v-on:click=(bigImages()) v-bind:class="big"
          />
          <img
            v-bind:key="i.index"
            v-if="p.status != i"
            v-bind:src="`/img/${i}2.jpeg`"
            v-bind:alt="`${i}`"
            width="9%"
          />
        </template>
      </div>
      <!----CONTACTS SECTION---------->
      <div style="margin-top: 50px">
        <h2>Contact Information for SO : {{ selected.So[0].id }}</h2>
        <div
          class="thegrid border1 m-2 text-center"
          v-for="c in contacts"
          v-bind:key="c.id"
          v-if="c.id == selected.So[0].id">     <!--eslint-disable-line-->
          <div class="head border1">Comercial contact:</div>
          <div class="cell border1">{{ c.sales }}</div>
          <div class="head border1">Operative contact:</div>
          <div class="cell border1">{{ c.operative }}</div>
          <div class="head border1">Customs contact:</div>
          <div class="cell border1">{{ c.customs }}</div>
          <div class="head border1">Client contact:</div>
          <div class="cell border1">{{ c.client }}</div>
          <a
            href="https://wa.me/?text=Hello!%20I%27m%20inquiring%20about%20SO%20%20SO4834"
            class="last"
          >
            <img
              class="contact-icon"
              src="https://bbcfreight.com/app/public/icons/ws.png"
              title=""
            />
            {{ c.sales }}</a
          >
        </div>
      </div>
    </div>
    <!----------TRACKING SECTION---------->
    <div class="the grid text-center border1 margin-top">
      <table class="table table-sm table-bordered">
        <tr class="format2">
          <th>Status</th>
          <th>Date and Location</th>
          <th>Comment</th>
        </tr>
        <tr>
          <td>{{ selected.So[0].status }}</td>
          <td>{{ selected.So[0].date }} {{ selected.So[0].location }}</td>
          <td>Comments</td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { mapState } from "vuex";
export default {
  data() {
    return {
      big:"",
      statusIcons: [
        "started",
        "carga",
        "icono3",
        "icono4",
        "icono5",
        "icono6",
        "embarque",
        "customs",
        "transit",
        "icono10",
        "delivered",
      ],
    };
  },
  computed: {
    ...mapState(["contacts"]),

    ...mapGetters({ archived: "processedActives" }),
  },

  inject: ["selected"],
  methods: {
    bigImages() {
      if (this.big!="big-images")
      {this.big="big-images"}
      else
      {this.big="small"}

    }
  },
};
</script>
<style scoped>
/* (A1) CONTAINER - BIG SCREEN */
.thegrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* OR SPECIFY WIDTH
  grid-template-columns: 40% 20% 20% 20%;
  */
  grid-gap: 5px;
}
/* (A2) CONTAINER - SMOL SCREEN */
@media screen and (max-width: 768px) {
  .thegrid {
    grid-template-columns: auto auto;
  }
}
/* (B) CELLS */
.thegrid .head,
.thegrid .cell {
  padding: 10px;
}
/* (C) HEADER CELLS */
.thegrid .head {
  font-weight: bold;
  background: white(233, 227, 227);
}
/* (D) DATA CELLS */
.thegrid .cell {
  background: white;
}
.border1 {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(206, 225, 226);
}
.format1 {
  color: #45ce0693;
  font-weight: bold;
}
.format2 {
  background-color: hsla(99, 10%, 62%, 0.576);
}
.cell:hover {
  background-color: rgb(239, 243, 239);
}
.margin-top {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.big-images{
  width:15%
}

</style>