<template>
<div class="container-lg row">
 
 <ul style="list-style: none outside none;">
    <li style="float: left;border-style:solid;display: block;width: 150px;height: 50px;backgroud-color: grey;">Field 1</li>
    <li style="float: left;border-style:solid;display: block;width: 150px;height: 50px;">Field 2</li>
    <li style="float: left;border-style:solid;display: block;width: 150px;height: 50px;">Field 3</li>
    <li style="float: left;border-style:solid;display: block;width: 150px;height: 50px;">Field 2</li>
    <li style="float: left;border-style:solid;display: block;width: 150px;height: 50px;">Field 3</li>
  </ul>
  <ul style="list-style: none outside none;">
    <li style="float: left;border-style:solid;display: block;width: 200px;height: 50px;">Field x</li>
    <li style="float: left;border-style:solid;display: block;width: 200px;height: 50px;">Field y</li>
    <li style="float: left;border-style:solid;display: block;width: 200px;height: 50px;">Field z</li>
    <li style="float: left;border-style:solid;display: block;width: 200px;height: 50px;">Field a</li>
    <li style="float: left;border-style:solid;display: block;width: 200px;height: 50px;">Field b</li>
  </ul>
  

  



 

 <div class="card tacking-card m-2 " witdth="100%">
<div class=" bg-light card-header">
  Tracking
</div>
  <div class="card card-body m-2 " witdth="100%">
    <div class="form-group">        
        <input class="form-control" v-model="name" />
    </div>
    <div class="form-group">       
      <input type="password" class="form-control col" v-model="password" />
    </div>
    <div class="form-group">        
        <input class="form-control col" v-model="name" />
    </div>
    <div class="form-group">       
      <input type="password" class="form-control" v-model="password" />
    </div> 
    
    <button class="btn btn-success btn-lg m-2">Track</button>
   
    </div>
 </div>
</div>















  
   

</template>
<script>
import { mapGetters } from "vuex";

import { mapState } from "vuex";
export default {
  
  data() {
    return {
      SO: 0,
      image1: "Status",
      click: true,
      widthImage: "100px",
      bg: "bg-danger",
      statusIcons: [
        "started",
        "carga",
        "embarque",
        "transit",
        "customs",
        "delivered",
      ],
    };
  },

  computed: {
    ...mapState(["contacts"]),

    ...mapGetters({ archived: "processedActives" }),
    elemStyles() {
      return {
        height: this.click ? "50px" : "100px",
        weigth: this.click ? "50px" : "100px",
      };
    },
  },

  methods: {
    clickDetails(data) {
      this.click != this.click;
      this.SO = data;

      //document.write(this.SO)
    },
    handleEvent() {
      this.click = !this.click;
    },
  },
};
</script>
<style scoped>
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 10px;
  border: 1px solid black;
}
.table-row:nth-child(even) {
  background: lightblue;
}

</style>