<template>
  <div class="container-fluid">
    <div class="row bg-white">
      <div class="row bg-light text-black container-fluid">
        <img src="/img/logo.png" alt="BBC Logo" width="280px" />
        

        
      </div>
      <div class="bg-light row">
        <Menu />
      </div>
      <div class="row">
          <div class="col-12 bg-white p-2 text-center">
            <h2 class="text-dark m-2">Actives</h2>
          </div>
        </div>
      <div class="container-fluid">
        <ActivesList />
      </div>
    </div>
    
  </div>
</template>
<script>
import ActivesList from "./ActivesList";
import Menu from "./Menu";

export default {
  components: { ActivesList, Menu },
};
</script>
<style scoped>
.cont {
  overflow: scroll;
}
.sidebar-panel {
  overflow-y: auto;
  background-color: rgb(253, 253, 255);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  padding: 3rem 20px 2rem 20px;
  width: 300px;
}
.img {
  width: 11em;
  min-width: 10em;
  max-width: 10em;
}
</style> 