<!--change-name.vue-->
<template>
  <div>
    <input type="text" v-model="newName" />

    <button @click="changeName()" class="btn btn-warning"></button>

    <div>
      <component v-bind:is="selected"></component>
    </div>
  </div>
</template>

<script>
import App2 from "./App2";
export default {
  components: { App2 },
  data() {
    return {
      newName: "a",
      selected: ""
    }
  },
  provide: function() {
 return {
 colors: {
 bg: "bg-secondary",
 text: "text-white",
 newN:this.newName
 }
 }
  },
 
  methods: {
    changeName() {
      
      this.selected = "App2";
      
      this.selected == "App2" ? App2 : false;
      this.newName="llll"
      
    }
  }
}
</script>