<template>
    <div>
        <h1 v-bind:class="[colors.bg, colors.text]" >Hello World, I'm {{ colors.newN }}</h1>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                name: "Foo"
            }
        },

           
        //inject: ["eventBus"],
        inject: ["colors"],
    }     
</script>