<template>
  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr class="text-dark font-weight-bold">
          <th scope="col">Details</th>
          <th scope="col">SO</th>

          <th scope="col">Status</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
          <th scope="col">Tracking Status</th>
        </tr>
      </thead>
      <tbody v-for="p in archived" v-bind:key="p.id" class="text-dark">
        <tr>
          <td>
            <a
              v-on:click="clickDetails(p.id)"
              class="btn btn-white"
              role="button"
              ><img src="/img/details.jpeg" alt="details" width="40px"
            /></a>
            <div class="row font-weight-bold container-fluid vis" v-if="SO == p.id">
              <nav class="menu">
                <nav class="drop-down-menu">
                  <input
                    type="checkbox"
                    class="activate"
                    id="accordion-1"
                    name="accordion-1"
                  />
                  <label for="accordion-1" class="menu-title"
                    >Information details</label
                  >

                  <div class="drop-down">
                    <a>SO : {{ p.id }}</a>
                    <a>Customer Reference : {{ p.reference }}</a>
                    <a>Origin : {{ p.origin }}</a>
                    <a>Destination : {{ p.destination }}</a>
                    <a>Service Type: {{ p.serviceType }}</a>
                    <a class="last">Consignee : {{ p.consignee }}</a>
                  </div>
                </nav>

                <nav class="drop-down-menu">
                  <input
                    type="checkbox"
                    class="activate"
                    id="accordion-2"
                    name="accordion-2"
                  />
                  <label for="accordion-2" class="menu-title"
                    >Contact Information</label
                  >

                  <div
                    class="drop-down"
                    v-for="c in contacts"
                    v-bind:key="c.id"
                  >
                    <a v-show="p.id == c.id">Sales Contact : {{ c.sales }}</a>
                    <a v-show="p.id == c.id"
                      >Operative Contact : {{ c.operative }}</a
                    >
                    <a v-show="p.id == c.id"
                      >Customs Contact : {{ c.customs }}</a
                    >
                    <a v-show="p.id == c.id">Client Contact : {{ c.client }}</a>
                    <a
                      href="https://wa.me/?text=Hello!%20I%27m%20inquiring%20about%20SO%20%20SO4834"
                      class="last"
                      v-show="p.id == c.id"
                      ><img
                        class="contact-icon"
                        src="https://bbcfreight.com/app/public/icons/ws.png"
                        title=""
                      />
                      {{ c.sales }}</a
                    >
                  </div>
                </nav>
                <nav class="drop-down-menu">
                  <input
                    type="checkbox"
                    class="activate"
                    id="accordion-3"
                    name="accordion-3"
                  />
                  <label for="accordion-3" class="menu-title">Tracking</label>

                  <div
                    class="drop-down reset"
                    style="color: green; backgroud: blue"
                  >
                    <a
                      ><template v-for="i in statusIcons"
                        ><img
                          v-bind:key="i.index"
                          v-if="p.status == i"
                          v-on:click="handleEvent"
                          v-bind="elemStyles"
                          v-bind:src="`/img/${p.status}.jpeg`"
                          v-bind:alt="p.status"
                          width="45px" />

                        <img
                          v-bind:key="i.index"
                          v-if="p.status != i"
                          v-on:click="handleEvent"
                          v-bind="elemStyles"
                          v-bind:src="`/img/${i}2.jpeg`"
                          v-bind:alt="`${i}`"
                          width="48px"
                      /></template>
                    </a>
                  </div>
                </nav>
              </nav>
            </div>
          </td>
          <td>
            <h4>
              <span class="badge badge-light">{{ p.id }}</span>
            </h4>
          </td>

          <td>{{ p.status }}</td>
          <td>{{ p.location }}</td>
          <td>{{ p.date }}</td>
          <td>
            <template v-for="i in statusIcons">
              <img
                v-bind:key="i.index"
                v-if="p.status == i"
                v-on:click="handleEvent"
                v-bind="elemStyles"
                v-bind:src="`/img/${p.status}.jpeg`"
                v-bind:alt="p.status" />

              <img
                v-bind:key="i.index"
                v-if="p.status != i"
                v-on:click="handleEvent"
                v-bind="elemStyles"
                v-bind:src="`/img/${i}2.jpeg`"
                v-bind:alt="`${i}`"
            /></template>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-bind="elemStyles"></div>
    <page-controls />
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import PageControls from "./PageControls";
import { mapState } from "vuex";
export default {
  components: { PageControls },
  data() {
    return {
      SO: 0,
      image1: "Status",
      click: true,
      widthImage: "100px",
      bg: "bg-danger",
      statusIcons: [
        "started",
        "carga",
        "embarque",
        "transit",
        "customs",
        "delivered",
      ],
    };
  },

  computed: {
    ...mapState(["contacts"]),

    ...mapGetters({ archived: "processedArchived" }),
    elemStyles() {
      return {
        height: this.click ? "50px" : "100px",
        weigth: this.click ? "50px" : "100px",
      };
    },
  },

  methods: {
    clickDetails(data) {
      this.click != this.click;
      this.SO = data;

      //document.write(this.SO)
    },
    handleEvent() {
      this.click = !this.click;
    },
  },
};
</script>
<style scoped>
body {
  background: #f0f1f0;
  font: 16px/20px Arial;
  padding: 20px;
  color: rgb(73, 87, 95);
}

p {
  margin: 0 0 5px;
}

a,
label {
  text-decoration: none;
  color: hsl(120, 10%, 96%);
  font-weight: bold;
  font-size: 1em;
}

a:hover {
  color: rgb(239, 243, 239);
}

.menu a {
  display: block;
  padding: 10px 15px;
}

.drop-down a {
  min-width: 320px;
}

.drop-down-menu {
  display: block;
  color: white;
}

.menu-title {
  cursor: pointer;
}

.menu-title {
  display: block;
  padding: 10px 15px;
}

.activate {
  display: none;

  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 0 0 0 -15px;
  opacity: 0;
}

/* Skin */
.menu a,
.drop-down-menu {
  background: #34383d;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #22384d),
    color-stop(100%, #253849)
  );
  background: -moz-linear-gradient(top, #9da6af 0%, #4a6885 100%);
}

.menu a:hover,
.drop-down-menu:hover {
  background: hsl(228, 15%, 53%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #495261),
    color-stop(100%, #404c5c)
  );
  background: -moz-linear-gradient(top, #495261 0%, #38404b 100%);
}

.drop-down a {
  background: rgb(60, 60, 63);
}

.drop-down a:hover {
  background: #111;
}

.menu {
  background: #3d6d99;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #5796d0),
    color-stop(100%, #3d6d99)
  );
  background: -moz-linear-gradient(top, #5796d0 0%, #3d6d99 100%);
  overflow: auto;
}

:checked ~ .menu-title {
  background: #495261;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #495261),
    color-stop(100%, #38404b)
  );
  background: -moz-linear-gradient(top, #495261 0%, #38404b 100%);
}

.drop-down {
  max-height: 0;
  overflow: hidden;
}

.drop-down a {
  background: #222;
}

.activate:checked ~ .drop-down {
  max-height: 300px;
}

.drop-down,
.menu a,
.drop-down-menu {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.vis{
  overflow: auto;
  float:right
}
</style>