<template>
  <div class="container-lg">
    <div class="">
      <div class="col bg-light text-black container-lg fixed ">        
        <img src="/img/logo.png" alt="BBC Logo" width="280px" />
        <div class="container-fluid col ">
     
         <div class="col">
          
      <a href="/News"><img src="/img/goback.png" alt="GoBack"></a>
      
     




       
        </div>
       </div>
        
       </div>

       <div class="container-fluid row fixed">
         
         
         <div class="d-flex justify-content-end  col ">
          
        <Menu  /> 
      </div>
      
   </div>
  
        </div>  
         <act2 />
     
    
  </div>
</template>
<script>
import Menu from "./Menu";
import act2 from "./act2";


export default {
  components: { Menu,act2 },
  data: function() {
    return{
        typeOfSo: "Details"
    }},
    
}

</script>
<style>
.fixed {
  position: fixed;
  top:0;
  width: 100%;
}
.format1 {
  color:#45ce0693}
</style> 