<template>
  <div class="container-fluid">
    <div class="row bg-white">
      <div class="row bg-light text-black container-fluid">
        <img src="/img/logo.png" alt="BBC Logo" width="280px" />

        <div class="row">
          <div class="col-12 bg-light p-2">
            <h2 class="text-success m-2">R a t e s</h2>
          </div>
        </div>
      </div>
      <div class="bg-light row">
        <Menu />
      </div>
      <div class="container-fluid"></div>
   
      
    </div>
      </div>

</template>

<script>
import Menu from "./Menu";



export default {
  components: { Menu },
  data: function() {
 return {

 }
 },



  }
</script>
<style>
.cont {
  overflow: scroll;
}
.sidebar-panel {
  overflow-y: auto;
  background-color: hsl(100, 74%, 82%);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  padding: 3rem 20px 2rem 20px;
  width: 300px;
}
.img {
  width: 250px;
}
</style> 