<template>
  <div class="container-lg">
    <div class="">
      <div class="col bg-light text-black container-lg fixed">
        <img src="/img/logo.png" alt="BBC Logo" width="280px" />
        <div class="container-fluid col">
          <div class="col">
            <h3 class="bg-light format1">Actives</h3>
          </div>
        </div>
      </div>

      <div class="container-fluid row fixed">
        <div class="d-flex justify-content-end col">
          <Menu />
        </div>
      </div>
    </div>
    <ActivesList />
  </div>
</template>
<script>
import Menu from "./Menu";
import ActivesList from "./ActivesList";

export default {
  components: { Menu, ActivesList },
  data: function () {
    return {
      typeOfSo: "Actives",
    };
  },
};
</script>
<style>
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.format1 {
  color: #45ce0693;
}
</style> 