<template>
  <div style="margin-top: 120px">
    <div v-if="display == false">
      <div>
        <div
          style="margin-top: 20px"
          v-for="p in archived"
          v-bind:key="p.id"
          class="container-sm"
        >
          <div class="thegrid border1 m-2 text-center">
            <div class="head border1">SO Number:</div>
            <div class="cell format1 border1">
              SO{{ p.id }}
              <span
                class="badge badge-primary hover"
                v-on:click="clickDetails(p)"
                >!
              </span>
              <span
                class="badge badge-secondary hover"
                v-on:click="clickDetails(p)"
                >!
              </span>
            </div>
            <div class="head border1">Customer Reference:</div>
            <div class="cell border1">{{ p.reference }}</div>
            <div class="head border1">Origin:</div>
            <div class="cell border1">{{ p.origin }}</div>
            <div class="head border1">Destination:</div>
            <div class="cell border1">{{ p.destination }}</div>
            <div class="head border1">Reference:</div>
            <div class="cell border1">{{ p.reference }}</div>
            <div class="head border1">Consignee:</div>
            <div class="cell border1">{{ p.consignee }}</div>
          </div>
        </div>
        <div class="m-2 text-center border1" style="width: 22rem">
          <div class="bg-light card-header text-center">
            <h2>Tracking</h2>
          </div>
          <div class="card-body">
            <div class="form-group m-1">
              <input class="form-control" placeholder="BL" />
            </div>
            <div class="form-group m-1">
              <input class="form-control" placeholder="Container" />
            </div>
            <div class="form-group m-1">
              <input class="form-control" placeholder="SO" />
            </div>
            <div class="form-group m-1">
              <input class="form-control" placeholder="Customer Reference" />
            </div>
            <div class="form-group m-1">
              <button class="form-control btn format2 m-1">Track</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------------------------
------------------------------------------------------>
    <div v-else>
      <ArchivedDetails />
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { mapState } from "vuex";
import ArchivedDetails from "./ArchivedDetails";
export default {
  components: { ArchivedDetails },
  data() {
    return {
      soNumber: ["!!!!"],
      display: false,
    };
  },
  methods: {
    clickDetails(p) {
      this.soNumber[0] = p;
      this.display = true;
    },
  },
  provide: function () {
    return {
      selected: {
        So: this.soNumber,
      },
    };
  },
  computed: {
    ...mapState(["contacts"]),

    ...mapGetters({ archived: "processedArchived" }),
  },
};
</script>
<style scoped>
/* (A1) CONTAINER - BIG SCREEN */
.thegrid {
  display: grid;
  grid-template-columns: auto auto auto auto;

  /* OR SPECIFY WIDTH
  grid-template-columns: 40% 20% 20% 20%;
  */
  grid-gap: 5px;
}
/* (A2) CONTAINER - SMOL SCREEN */
@media screen and (max-width: 768px) {
  .thegrid {
    grid-template-columns: auto auto;
  }
}
/* (B) CELLS */
.thegrid .head,
.thegrid .cell {
  padding: 10px;
}
/* (C) HEADER CELLS */
.thegrid .head {
  font-weight: bold;
  color: black;
}
/* (D) DATA CELLS */
.thegrid .cell {
  background-color: white;
}
.border1 {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(206, 225, 226);
}
.format1 {
  color: #45ce0693;
  font-weight: bold;
}
.format2 {
  background-color: #5ada1f93;

  font-size: 23px;
}
.cell:hover {
  background-color: rgb(239, 243, 239);
}
.hover {
  cursor: pointer;
}
</style>