<template>
  <div id="app">
    <nav class="main-nav row container-fluid">
      <div class="logo row">
        <img src="/img/logo.png" alt="BBC Logo" width="290px" />
      </div>

      <Burger></Burger>
    </nav>
    <div overflow="visible row"></div>
    <Sidebar class="row">
      <Menu />
    </Sidebar>

    <div>
      <img src="/img/bgbbc.png" alt="BBC Logo" width="70%" height="70%" />
    </div>

    <div class="cont2"></div>

    <div class="bg-dark text-white cont2">
      © 2021 BBC FREIGHT - All Rights reserved
    </div>
  </div>
</template>

<script>
import Burger from "./Burger";
import Sidebar from "./Sidebar";
import Menu from "./Menu";

export default {
  components: {
    Burger,
    Sidebar,
    Menu,
  },
};
</script>

<style>
Notificationsyle > html {
  height: 100%;
  overflow: hidden;
}
body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  height: 100%;
  background: hsl(30, 13%, 94%);
  background: linear-gradient(45deg, #ffffff 0%, #ffffff 0%, #ffffff 0%);
}
.logo {
  align-self: center;
  color: #fff;
  font-weight: bold;
  font-family: "Lato";
}
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
}
ul.sidebar-panel-nav {
  list-style-type: none;
}
ul.sidebar-panel-nav > li > a {
  color: hsl(206, 13%, 52%);
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  padding-bottom: 0.5em;
}
.cont {
  overflow: auto;
  padding: 0;
  margin: 0;
  background-color: hsl(220, 18%, 97%);
  width: 100%;
  margin: 0 auto;
  min-height: 100px;
  color: rgb(27, 34, 138);
  text-align: center;
}
.cont2 {
  min-height: 250px;
  overflow: hidden;
  text-align: center;
}
.img {
  width: 22em;
  min-width: 15em;
  max-width: 22em;
}
</style>