   
  
   <template>
  <div>
    <nav class="main-nav">
      <Burger></Burger>
    </nav>
    <div overflow="visible"></div>
    <Sidebar>
      
      <img src="/img/logo.png" alt="BBC Logo" width="100%"  />
      
      <ul class="sidebar-panel-nav">
        <li>
          <a href="/Home">Home</a>
        </li>
        <li>
          <a  href="Actives">Actives</a>
        </li>
        <li>
          <a href="Archived">Archived</a>
        </li>
        <li>
          <a href="News">News</a>
        </li>
        <li>
          <a href="Rates">Rates</a>
        </li>
        <li>
          <a href="Login">Logout</a>
        </li>
      </ul>
    </Sidebar>
  </div>
</template>
   <script>
import Burger from "./Burger";
import Sidebar from "./Sidebar";

export default {
  components: {
    Burger,
    Sidebar,
  },
};
</script>
<style>
html {
  height: 100%;
  overflow: hidden;
}
body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  height: 100%;
  background: rgb(58, 21, 224);
  background: linear-gradient(45deg, #ffffff 0%, #ffffff 0%, #ffffff 0%);
}
.logo {
  align-self: center;
  color: hsl(0, 92%, 20%);
  font-weight: bold;
  font-family: "Lato";
}
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
}
ul.sidebar-panel-nav {
  list-style-type: none;
}
ul.sidebar-panel-nav > li > a {
  color: #cc2222;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  padding-bottom: 0.5em;
}
</style>