<template>
  <div class="container-lg">
    <div class="">
      <div class="col bg-light text-black container-lg fixed ">        
        <img src="/img/logo.png" alt="BBC Logo" width="280px" />
        <div class="container-fluid col ">
     
         <div class="col">
       <h3 class=" bg-light format1"> {{typeOfSo}} </h3> 
       
        </div>
       </div>
        
       </div>

       <div class="container-fluid row fixed">
         
         
         <div class="d-flex justify-content-end  col ">
          
        <Menu  /> 
      </div>
      
   </div>
  
        </div>  
       
     
    
  </div>
</template>
<script>
import Menu from "./Menu";



export default {
  components: { Menu },
  data: function() {
    return{
        typeOfSo: "News"
    }}
};
</script>
<style>
.fixed {
  position: fixed;
  top:0;
  width: 100%;
}
.format1 {
  color:#45ce0693}
</style> 