<!DOCTYPE html>
<html color:"white">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.png">
    <title>BBC App</title>
    <link rel="manifest" href="/manifest.json">
   <!-- <script>
      if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js');
      });
      }
     </script>-->
  </head>
  <body>
    <style>
      body {
        overflow-y: scroll; /* Show vertical scrollbar */
        overflow-x: scroll; /* Show horizontal scrollbar */
        border:0px;
        padding:0px;
        margin:0 auto;
        background-color:hsl(0, 0%, 100%);
        
      }
      </style>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
