<template>
<div>
    </div>
</template>
<script>

export default
{ 
    computed: {  rr (){ 
return this.permission()
    }
    },
methods:{
    permission () {

        Notification.requestPermission().then(function(permission) {
if (permission === "granted") {
showNotification();// eslint-disable-line
} else if (Notification.permission === "denied") {
console.log("Can't show notification");
} else if (Notification.permission === "default") {
console.log("Can't show notification, but can ask for permission again.");
}
})
    }
}


}       


</script>